.main_box {
    margin: 1rem;
    border: medium solid #b5d1e2;
    padding: .5rem;
}
.main_row {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.main_button {
    width: 20rem;
    margin: .5rem auto;
    height: 3.5rem;
    border-radius: .5rem;
    background-color: #01015A;
    color: white;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_title {
    background-color: #D9D9D9;
    color: black;
    font-weight: bolder;
    margin: 0 auto;
    padding-top: .6rem;
    padding-bottom: .6rem;
    height: 2rem;
    margin-top: .5rem;
}
.main_title_option {
    margin-top: .5rem;
    font-weight: bolder;
}
.main_sells {
    margin: 0 auto;
    margin-top: .5rem;
    border: medium solid #0474bc;
    height: 16rem;
    width: 51.5rem;
}
.main_reasons {
    /* border: medium solid #0474bc; */
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: .5rem;
    height: 17.5rem;
    width: 42rem;
}
.main_reason {
    /* border: medium solid #788288; */
    margin: .5rem auto;
    height: 16rem;
    width: 11.5rem;
}
.main_reason_text {
    font-size: .7rem;
    text-align: left;
}
.main_reason_phrase {
    /* border: medium solid #0474bc; */
    margin: 1rem auto;
    height: 5rem;
    position: relative;
    width: 32.5rem;
}
.main_reason_phrase .layer1 {
    position: absolute;
    z-index: 1;
    margin-left: 3rem;
}

.main_reason_phrase .layer1 .phrase1 {
    color: #003E84;
    font-weight: bold;
    font-size: 1.3rem;
}
.main_reason_phrase .layer1 .phrase2 {
    color: #EA7100;
    font-weight: bold;
    font-size: 1.3rem;
}
.main_reason_phrase .layer1 .phrase3 {
    color: #003E84;
    font-weight: bold;
    font-size: 2.1rem;
}
.main_reason_phrase .layer2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.main_reason_phrase .layer2 .left {
    /* border: medium solid #0474bc; */
    width: 5rem;
    height: 5rem;
    background-image:linear-gradient(
        45deg,
        transparent 48.5%, #003E84 48.5%,
        #003E84 51.5%, transparent 51.5%);
}
.main_reason_phrase .layer2 .right {
    /* border: medium solid #0474bc; */
    left: 0;
    width: 5rem;
    height: 5rem;
    background-image:linear-gradient(
        -45deg,
        transparent 48.5%, #003E84 48.5%,
        #003E84 51.5%, transparent 51.5%);
}

.main_reason_flow {
    border: 0.15rem solid #0474bc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 14rem;
    margin: 2rem auto;
}
.main_reason_flow_box {
    color: #003E84;
    font-weight: bold;
    font-size: 1.3rem;
}
.main_reason_image {
    margin-bottom: 3rem;
}
.main_flows {
    /* border: medium solid #0474bc; */
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    height: 15.5rem;
}
.main_flow {
    /* border: medium solid #788288; */
    width: 10.5rem;
    margin: .5rem auto;
    height: 14rem;
}
.main_flow_flow {
    font-weight: bold;
    margin-top: 1rem;
}
.main_flow_text {
    width: 10rem;
    font-size: .7rem;
    margin: 0 auto;
    text-align: left;
    line-height: 1.1rem;
}
.main_voices {
    /* border: medium solid #0474bc; */
    margin-top: .5rem;
    height: 45rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main_voice {
    margin: 0 auto;
    margin-top: .5rem;
    /* border: medium solid #0474bc; */
    height: 13.45rem;
    width: 24rem;
    position: relative;
}
.main_voice .layer1 {
    position: absolute;
    z-index: 1;
}
.main_voice .layer2 {
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,.7);
    width: 10rem;
    height: 1.3rem;
    font-weight: bold;
}
.main_voice .layer3 {
    position: absolute;
    z-index: 3;
    top: 2.5rem;
    left: 2rem;
    width: 20rem;
    line-height: .7rem;
    font-weight: bold;
}
.main_brands {
    margin: 0 auto;
    margin-top: .5rem;
    /* border: medium solid #0474bc; */
    height: 23rem;
    width: 51rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .8rem;
}
.main_brand {
    /* border: thin solid #788288; */
    width: 5.7rem;
    height: 5rem;
    line-height: .6rem;
}
.main_car_models {
    margin: 0 auto;
    margin-top: .5rem;
    border: medium solid #0474bc;
    height: 22rem;
    width: 51rem;
}
.main_body_types {
    margin: 0 auto;
    margin-top: .5rem;
    /* border: medium solid #0474bc; */
    height: 16.5rem;
    width: 51rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main_body_type {
    border: thin solid #788288;
    width: 10.075rem;
    height: 4rem;
    line-height: .7rem;
}
.main_body_type_content {
    margin-top: .3rem;
}
.main_forms {
    border: medium solid #0474bc;
    margin: 0 auto;
    margin-top: .5rem;
    height: 35rem;
    width: 26rem;
}
.main_form_title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_columns {
    /* border: medium solid #0474bc; */
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    height: 13rem;
}
.main_column {
    /* border: medium solid #788288; */
    width: 10rem;
    margin: .5rem auto;
    height: 12rem;
    line-height: .7rem;
}
