.footer_box {
    padding-top: 0.5rem;
    /* border: medium solid #b5d1e2; */
    height: 11.7rem;
    background-color: #01015A;
}
.footer_top {
    /* border: thin solid #0474bc; */
    margin: 0 auto;
    height: 4rem;
    width: 47rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}
.footer_info {
    /* border: thin solid #b5d1e2; */
    width: 11.75rem;
    height: 1rem;
    font-size: 0.6rem;
    color: #fff;
    text-align: left;
}
.footer_bottom {
    margin: 0 auto;
    height: 7.7rem;
    width: 51.5rem;
    display: flex;
    flex-direction: column;
}
.footer_row {
    display: flex;
    justify-content: space-between;
    /* border: thin solid #b5d1e2; */
    width: 3.4rem;

    margin: .4rem auto;
}
.footer_about {
    margin: 0;
    text-align: center;
    color: white;
    line-height: 0.73rem;
}